{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Hi, I'm Brooks</h1>
    <p class="lead">I'm an aspiring software engineer. This is my self-describing portfolio. As you navigate through the site, you'll see what's going on behind the scenes.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Create an account to get started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-">
        <h2>What Does This Site Do?</h2>
        <p>This site has no "real" functionality. When you login, you'll have the opportunity to save, retrieve, edit, and delete essentially random pieces 
        of information to the database. The only purpose is to show beginners what's happening behind the scenes. </p>
        <p>
            This site is built with Python (Django Rest Framework) for the backend, JavaScript (React framework) for the frontend (with lots of pre-generated CSS),
            and a PostgreSQL Database.
            
        </p>
        
    </div>
    <div class="col-m4d-"> 
        <h2>Different Levels</h2>
        <p>For each piece of information, you'll see 2 levels of detail.</p>
        <p>Level 1 is the simple stuff, perfect for people who are learning the foundations of full-stack web development. </p>
        <p>Level 2 goes a bit more in-depth. If you already have the basics down, this will drill into how functionality is implemented.  </p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-">
        <h2>What Happened When You Landed On This Home Page</h2>
        

        <p>Example:
        When you landed on this site Django resolved the URL with this:</p>

        <pre style="color: white; background-color: #212120;">
        urlpatterns = [
        path('', views.home, name='home'),
        ...
        </pre>
        <p> That empty quote at the start meaning the home page with nothing after - just brksmtchll.</p>
        <p> The views.home called the function below that renders the HTML file at app/index.html</p>

        <pre style="color: white; background-color: #212120;">
            def home(request):
    """Renders the home page."""
    assert isinstance(request, HttpRequest)
    return render(
        request,
        'app/index.html',
        {
            'title':'Home Page',
            'year':datetime.now().year,
            'meta_info': get_meta_string(request)
        }
    )
        </pre>
        <p> That 'meta_info' calls another function to see get meta-data from the system that requested the site:</p>
        <pre style="color: white; background-color: #212120;">
            {{ meta_info }}
        </pre>
    </div>
</div>

{% endblock %}
