{% extends "app/layout.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">This is a your profile page</h1>
        <p>Account Name: {{ user.username }}</p>
        <p>Profile Nickname: {{ user.profile.profile_name }}</p>
        <p>Date of Birth: {{ user.profile.date_of_birth }}</p>
        <p>Operations Performed: {{ user.profile.operations_performed }}</p>
    </div>
</div>

<div class="learn-container">
    <h2>After editing your form, information will populate showing you behind the scenes</h2>
    {% if changed_user_data is not None %}
    <div class="learn-output">
        <p>The following user account fields were changed:</p>
        <pre style="color: white; background-color: #212120;">
            {{ changed_user_data }}
        </pre>
    </div>

    {% else %}
    <div></div>

    {% endif %}

    {% if changed_profile_data is not None %}
    <div class="learn-output">
        <p>The following profile fields were changed:</p>
        <pre style="color: white; background-color: #212120;">
        {{ changed_profile_data }}
        </pre>
    </div>

    {% else %}
    <div></div>

    {% endif %}

</div>

<div>
    <h3>Edit your profile</h3>
    <form action="/learn/" method="post">
        {% csrf_token %}
        {{ user_form|crispy }}
        {% csrf_token %}
        {{ profile_form|crispy }}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>

</div>

    {% endblock %}
